<!DOCTYPE html>
<html>
        {% extends 'base.html'%}
        
        <!-- Styles block -->
        
        {% block styles%}
            {{ super() }}
            <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
        <!-- Content block -->

    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to Pitch website </title>
        {% endif %}

        {% block content %}

     <div class="container">
    <form>
        <input type="text" name="pitch_query" placeholder="Search for a Pitch" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

    </div>
    </head>
    <body>
      <!-- Pitch section  -->
      <h3> Pitch</h3>
      <ul>
         {% for pitch %}
             <li>{{ pitch}}</li>
         {% endfor %}
     </ul>  

    </body>
</html>